* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; /* For headings */
  font-family: "Open Sans", sans-serif; /* For body text */
}
.main-head {
  display: flex;
  width: 100%;
  height: 750px;
}

.main-head-left {
  padding: 0px;
  width: 30%;
  height: 100%;
  background-color: #171717;
}

.main-head-right {
  padding: 0px;
  width: 70%;
  height: 100%;
  background-color: #171717;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 35px;
  height: 10%;
  width: 100%;
  background-color: #5d5d5d;
}

.nav-logo{
  display: ;
}

.menu li a {
  color: white;
  text-decoration: none;
}
.main-head-rdown {
  background-image: url(IMG_4972.png);
  background-size: 900px;
  width: 100%;
  height: 90%;
  float: left;
  object-fit: none;
}
img {
  width: 100%;
  height: 100%;
  /* object-fit: none; */
}
.menu li a:hover {
  text-decoration: underline;
  text-decoration-color: #fef303;
  text-decoration-thickness: 3px;
}
.main-head-lup {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 10%;
  width: 100%;
}

.main-head-lup li a img{
  color: white;
  text-decoration: none;
}

.main-head-lup li a:hover {
  text-decoration: underline;
  text-decoration-color: #fef303;
  text-decoration-thickness: 3px;
}
.main-head-lup li a img{
  height: 90px;
} 
.main-head-ldown {
  height: 90%;
  width: 100%;
}
.main-head-ldown-1 {
  height: 70%;
  width: 100%;
  /* background: url(dots.png); */
  background-repeat: no-repeat;
  background-size: auto;
}
.main-head-ldown-2 {
  font-size: 30px;
  position: relative;
  left: 125px;
  bottom: 60px;
  height: 30%;
  width: 100%;
  color: white;
}
.main-head-ldown-2 button {
  font-size: 30px;
  height: 70px;
  width: 400px;
  background-color: #fef301;
  border: none;
  box-shadow: 10px 8px 16px 0px rgba(31, 21, 21, 0.2),
    20px 10px 20px 20px rgba(13, 76, 11, 0.19);
}

.hamburger {
  display: none;
}
.forMe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 750px;
  width: 100%;
  background: #ececec;
}
.forMe-left {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 93%;
  width: 50%;
}
.forMe-right {
  display: flex;
  flex-wrap: wrap;
  height: 93%;
  width: 50%;
}
.fleftUp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fleftdown {
  display: flex;
  height: 100px;
  width: 200px;
}

.Fm-picture-bg {
  height: 450px;
  width: 400px;
  background-color: #202020;
}
.Fm-picture {
  height: 450px;
  width: 400px;
  background-color: #c97e7e;
  position: relative;
  left: 60px;
  top: 38px;
  background-image: url(IMG_5322.JPG);
  background-size: 400px;
  background-repeat: no-repeat;
  float: left;
  object-fit: none;
}

.fm-right-up {
  gap: 20px;
  display: flex;
}
.fm-right-up h1 {
  font-size: 50px;
}

.fm-right-up img {
  height: 80px;
}

.forMe-right {
  font-size: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-head-ldown-2 {
  font-size: 25px;
  position: relative;
  left: 10px;
  bottom: 60px;
  height: 30%;
  width: 100%;
  color: white;
}
.main-head-ldown-2 button {
  height: 60px;
  width: 350px;
  background-color: #fef301;
  border: none;
  box-shadow: 10px 8px 16px 0px rgba(31, 21, 21, 0.2),
    20px 10px 20px 20px rgba(13, 76, 11, 0.19);
}
main-head-lup
.main-head-rdown {
  height: 70%;
  width: 100%;
}

.menu li a {
  color: white;
  text-decoration: none;
}
.icon-sircl{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 21px;
    font-size: 40px;
    left: 230px;
    color: #fef301;
}

@media screen and (max-width: 650px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 30%;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px; 
    background-color: #5d5d5d;
    color: white;
    font-size: 30px;
    /* padding: 20px; */
    display: flex;
  }

  .main-head {
    height: 1100px;
  }
  .main-head-left {
    width: 0%;
    height: 100%;
    background-color: #171717;
  }
  .main-head-right {
    width: 100%;
    height: 100%;
  }
  .nav-logo{
    width: 80px;
  }
}

@media only screen and (max-width: 470px) {
  .main-head-ldown-2 {
    font-size: 20px;
    position: relative;
    left: 10px;
    bottom: 60px;
    height: 30%;
    width: 100%;
    color: white;
  }
  .main-head-ldown-2 button {
    font-size: 20px;
    height: 50px;
    width: 300px;
    background-color: #fef301;
    border: none;
    box-shadow: 10px 8px 16px 0px rgba(31, 21, 21, 0.2),
      20px 10px 20px 20px rgba(13, 76, 11, 0.19);
  }
}
